html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: @clr-bg;
  color: @clr-text;
  @media print {
    background-color: transparent;
  }
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}