body {
  background-color: @clr-bg;
  color: @clr-text;
}

input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}

// Helpers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.large {
  font-size: 1.125em;
}
.small {
  font-size: 0.75em;
}

p, h1, h2, h3, h4, h5, h6 {
  &.inline {
    display: inline-block;
  }
}

.flush {
  margin: 0;
}