@font-family-base: "Lato", "Helvetica Neue", Arial, sans-serif;
@font-family-headers: "Lato", "Helvetica Neue", Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif; // used for quotes on details page and such.
@lato-font-path: '../fonts/lato/';

@font-face {
  font-family: 'latoregular';
  src: url('@{lato-font-path}Lato-Regular-webfont.eot');
  src: url('@{lato-font-path}Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{lato-font-path}Lato-Regular-webfont.woff2') format('woff2'),
       url('@{lato-font-path}Lato-Regular-webfont.woff') format('woff'),
       url('@{lato-font-path}Lato-Regular-webfont.ttf') format('truetype'),
       url('@{lato-font-path}Lato-Regular-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold';
  src: url('@{lato-font-path}Lato-Bold-webfont.eot');
  src: url('@{lato-font-path}Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{lato-font-path}Lato-Bold-webfont.woff2') format('woff2'),
       url('@{lato-font-path}Lato-Bold-webfont.woff') format('woff'),
       url('@{lato-font-path}Lato-Bold-webfont.ttf') format('truetype'),
       url('@{lato-font-path}Lato-Bold-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url('@{lato-font-path}Lato-Italic-webfont.eot');
  src: url('@{lato-font-path}Lato-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{lato-font-path}Lato-Italic-webfont.woff2') format('woff2'),
       url('@{lato-font-path}Lato-Italic-webfont.woff') format('woff'),
       url('@{lato-font-path}Lato-Italic-webfont.ttf') format('truetype'),
       url('@{lato-font-path}Lato-Italic-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url('@{lato-font-path}Lato-Light-webfont.eot');
  src: url('@{lato-font-path}Lato-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{lato-font-path}Lato-Light-webfont.woff2') format('woff2'),
       url('@{lato-font-path}Lato-Light-webfont.woff') format('woff'),
       url('@{lato-font-path}Lato-Light-webfont.ttf') format('truetype'),
       url('@{lato-font-path}Lato-Light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: @font-family-base;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-family-headers;
  font-weight: 300;
}

a {
  cursor: pointer;
  color: #5d95c2;
  &:hover,
  &:focus {
    color: darken(@clr-link, 10);
  }
}

p, time, a, em, strong {
  font-family: @font-family-base;
}

p {
  margin: 0;
  & + p {
    margin-top: 0.5em;
  }
}