// Styles specific to the pattern library
@import "../less/_variables.less";


// HEADER
.hb-logo {
	span {
		color: @clr-active;
		font-weight: 400;
	}
}

// GRID
.library-grid-demo {
	div {
		background-color: @clr-frame-lt;
		border: 1px solid @clr-frame;
		text-align: center;
	}
}

// ICONS
.icon-samples {
	h1 {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	.sample {
		font-size: 1.5em;
		display: inline-block;
		width: 10em;
		span {
			font-family: 'benchmark';
			display: inline-block;
			width: 1.5em;
			text-align: center;
		}
	}
}