.sidebar {
	background-color: @clr-white;
	height: @content-height;
	width: 20em;
	float: left;
	a {
		display: block;
		background-color: @clr-white;
		color: @clr-text;
		font-size: 1.688em;
		text-decoration: none;
		transition: background-color 100ms ease;
		span {
			display: block;
			border-top: 1px solid @clr-frame;
			padding: 0.25em 0;
			margin-left: 1em;
		}
		&:first-child span {
			border-top-width: 0;
		}
		&:last-child {
			border-bottom: 1px solid @clr-frame;
			span {
				border-bottom: 0;
			}
		}
		&:hover, &:focus {
			background-color: lighten(@clr-frame, 20);
		}
		&.active {
			background-color: @clr-active;
			color: @clr-white;
			position: relative;
			span {
				border-top-color: transparent;
			}
			&:after {
				content: ">";
				position: absolute;
				right: 0.25em;
				top: 0.3em;
			}
			+ a span {
				border-top-color: transparent;
			}
		}
	}
	button.btn-icon {
		display: none;
	}
	.mobile-overlay {
		display: none;
	}
	@media @bp {
		height: auto;
		position: fixed;
		left: -21em;
		top: 0;
		bottom: 0;
		z-index: 5;
		box-shadow: 3px 0 6px 0 @clr-shadow;
		transition: left 200ms cubic-bezier(.67,0,0,.99);
		.mobile-overlay {
			display: block;
			background-color: @clr-shadow;
			position: fixed;
			top: 0;
			right: 100%;
			left: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity 200ms cubic-bezier(.67,0,0,.99), left 200ms cubic-bezier(.67,0,0,.99);
			z-index: -1;
		}
		&.show {
			left: 0;
			.mobile-overlay {
				opacity: 1;
				left: 20em;
				right: 0;
			}
		}
		button.btn-icon {
			display: block;
			font-size: 1.5em;
			margin: 0.75rem 1rem;
      &:hover, &:focus {
        color: @clr-active;
      }
		}
	}
}