.btn {
	padding: 0.25em 0.75em;
	outline: 0;
	&:active, &:focus {
		outline: 0 !important;
	}
	&.btn-svg, &.btn-icon {
		padding: 0;
		background-color: transparent;
		border: 0;
	}
	&.btn-default {
		background-color: @clr-button;
		border-color: @clr-frame;
		border-bottom-width: 2px;
		&.ui-select-toggle {
			text-align: left;
			background-color: @clr-white;
			height: auto;
			&:hover, &:focus {
				background-color: @clr-white;
				border-color: darken(@clr-frame, 15);
			}
		}
		&:hover, &:focus {
			background-color: darken(@clr-button, 7);
		}
		&:active {
			border-bottom-width: 1px;
			margin-top: 1px;
		}
		&.active {
			background-color: @clr-active;
			color: @clr-white;
			border-bottom-width: 1px;
			margin-top: 1px;
		}
		&.btn-danger {
			color: @clr-red;
		}
	}
	&.btn-primary {
		background-color: #325099;
		border-radius: 3px;
		border: 0;
		border-bottom: 2px solid #14388b;
		&:hover, &:focus {
			background-color: #2961b0;
		}
		&:active {
			background-color: #364987;
			margin-top: 1px;
			border-bottom-width: 1px;
			outline: 0;
		}
		&.btn-danger {
			background-color: @clr-red;
			border-color: darken(@clr-red, 9);
			color: lighten(@clr-title-bg, 80);
		}
	}
	&.btn-text {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		color: @clr-link;
		text-decoration: none;
		&:hover, &:focus {
			color: lighten(@clr-link, 10);
			box-shadow: none;
		}
		&.flush {
			padding: 0;
		}
		&.flush-sides {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.btn-icon {
		color: @clr-orange;
		font-size: 1rem;
		&:before {
			margin: 0;
		}
		&:hover, &:focus {
			color: lighten(@clr-orange, 5);
		}
		&:active {
			background-color: transparent;
			color: darken(@clr-orange, 5	);
			box-shadow: none;
		}
		&.disabled,
	  &[disabled],
	  fieldset[disabled] & {
	  	color: @clr-disabled;
	  }
	}
	&.btn-remove {
		background: transparent;
		color: @clr-remove;
		padding-left: 0;
		padding-right: 0;
		&:hover, &:focus {
			color: @clr-red;
			box-shadow: none;
		}
		&:active {
			color: darken(@clr-red, 15);
		}
		&.flush {
			padding: 0;
		}
		&.flush-sides {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&.btn-inline {
		margin-left: 0.125em;
		margin-right: 0.125em;
	}
}

.ui-select-search { // override for ui-select dropdowns
  height: auto;
  padding: 0.25em 0.75em;
}

.btn-group {
	.btn {
		border-bottom-width: 2px;
		margin: 0;
		+ .btn {
			margin: 0;
		}
		&:not(:last-child) {
			border-right: 0;
		}
		&.active {
			margin-top: 1px;
			&:first-child {
				box-shadow: inset -7px 0 5px -2px fadeout(@clr-shadow, 25);
			}
		}
	}
	&.bg-icons {
		.btn {
			&:before, & span:before {
				margin: 0;
			}
		}
	}
}

.btn-group-vertical {
	.btn-default {
		border-bottom-width: 1px;
		background-color: #fff;
		&:active {
			border-top-width: 0;
		}
		&.active:active {
			border-top-width: 1px;
		}
		&:first-child {
			&:active {
				margin-top: 0;
				border-bottom-width: 0
			}
			&.active:active {
				margin-top: 1px;
				border-bottom-width: 1px;
			}
		}
	}
}

.input-group {
	.input-group-btn {
		.btn-default {
			border-width: 1px;
			height: 34px;
			padding: 6px 8px;
			&:before {
				margin-right: 0;
			}
			&:active {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}